<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment 2</title>
    <style>
        html * {
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>

<body>
    <center>
        <h1>ID - 1001852000</h1>
        <h2>Name - Karan Jeeten Thakkar</h2>
        <h4><a href="{{ url_for('operations') }}">Go to operations page</a></h4>
        <table border="1" cellpadding="15" cellspacing="3" align="center" width="60%">
            <tr>
                <th>Time</th>
                <th>Latittude</th>
                <th>Longitude</th>
                <th>Depth</th>
                <th>Magnitude</th>
                <th>Place</th>
            </tr>
            {% for earthquake in earthquakes %}
            <tr>
                {% for single_column in earthquake %}
                <td>{{single_column}}</td>
                {% endfor %}    
            </tr>
            {% endfor %}
        </table>
        <h4>Count - {{count}} </h4>
    </center>
</body>

</html>